.swiper {
    width: 700px;
    height: 600px;
}

img {
    width: 700px;
}

body {
    background: linear-gradient(135deg, blue, rgb(109, 0, 119));
}


h1 {
    background-color: white;
    width: 200;
    text-align: center;
}

.swiper-slide {
    color: white;
    font-size: large;
}
